.home-body {
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
}

.submit-home {
    cursor: pointer;
      border-radius: 5px;
      color: #fff;
      background: #E2B254;
      border: 0;
      width: 15vw;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: Montserrat, sans-serif;
      font-size: 1.7vh;
      font-weight:bold;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }

  .submit-home2 {
    cursor: pointer;
      border-radius: 5px;
      color: #fff;
      background: #E2B254;
      border: 0;
      width: 45vw;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: Montserrat, sans-serif;
      font-size: 1.7vh;
      font-weight:bold;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }

  .id-home {
    width: 28vw;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin: 15% 2% 2% 0%;
    text-align: center;
    font-family: Montserrat, sans-serif;
    }