@mixin flexAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  @include flexAlign;
  flex-direction: column;
}

.background-image {
  width: 100vw;
  height: 300px;
}

.body {
  width: 100vw;
  background-color: #EEEEEE;
  color: #000000;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}

.header {
  flex-direction: row;
  margin-bottom: 50px;
  list-style-type: none;
  padding-inline-start: 0px;
}

.profile-pic {
  float: left;
  position: relative;
  top: -100px;
  left: 2vw;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.profile-name {
  text-align: left;
  display: flex;
  p {
    font-size: 48px;
    font-weight: bold;
    padding-left: 55px;
  }
}

.profile-achievement {
  text-align: right;
  position: relative;
  right: 2vw;
  top: -55px;
}

.achievement-preview {
  list-style-type: none;
  padding-inline-start: 0px;
}

.achievement {
  display: inline;
  margin-right: 10px;
}

.achievement-image {
  width: 50px;
  height: 50px;
  position: relative;
}

.profile-info {
  font-size: 30px;
  display: block;
}

.line {
  border-top: 2px solid black;
}

.stats {

}

@import "~bootstrap/scss/bootstrap";
.progress-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin-top: 15px;
  p {
    position: relative;
    left: 7vw;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
  }
}

.progress-bar-div {
  position: absolute;
  right: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-progress-bar {
  height: 30px;
  width: 80vw;
  border-radius: 40vw;
  display: flex;
  background-color: white;
}

.history-view {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  text-align: left;
  margin-bottom: 50px;
}

.history-header-text {
  font-size: 30px;
  padding-left: 7vw;
}

.history-list {
  width: 80vw;
  align-self: center;
}

.history-panel {
  border: 1px solid black !important;
  font-size: 24px;
  text: {
    display: flex;
  }
}