html,body
{
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

@mixin flexAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  @include flexAlign;
  flex-direction: column;
}

.background-image {
  width: 100vw;
  height: 300px;
}

.body {
  width: 100vw;
  background-color: #EEEEEE;
  color: #000000;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}

.header {
  flex-direction: row;
  margin-bottom: 50px;
  list-style-type: none;
  padding-inline-start: 0px;
}

.profile-pic {
  margin: auto;
  overflow: hidden;
  float: left;
  position: relative;
  top: -100px;
  left: 2vw;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.profile-pic .profile-pic-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.profile-pic:hover .profile-pic-overlay{
  opacity: 1;
}

.profile-pic-image{
  width: 100%;
}


.profile-pic-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.profile-pic:hover .profile-pic-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.profile-pic-details p{
  color: white;
  font-size: 10pt;
}

.profile-pic-details input{
  color: white;
  font-size: 10pt;
}

.fadeIn-top{
  top: 20%;
}

.profile-name {
  text-align: left;
  display: flex;
  p {
    font-size: 48px;
    font-weight: bold;
    padding-left: 55px;
  }
}

.profile-info {
  font-size: 30px;
  display: block;
}

.line {
  border-top: 2px solid black;
}

.stats {

}

@import "~bootstrap/scss/bootstrap";
.progress-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin-top: 15px;
  p {
    position: relative;
    left: 7vw;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
  }
}

.progress-bar-div {
  position: relative;
  right: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-progress-bar {
  height: 30px;
  width: 75vw;
  border-radius: 40vw;
  display: flex;
  background-color: white;
}

.history-view {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  text-align: left;
  margin-bottom: 50px;
}

.history-header-text {
  font-size: 30px;
  padding-left: 7vw;
}

.history-list {
  width: 80vw;
  align-self: center;
}

.history-panel {
  border: 1px solid black !important;
  font-size: 24px;
  p {
    display: flex;
    margin-right: 10px;
  }
}

.participants-div {
  display: flex;

}