.workout-page {
  background: #081018;
  height: 100vh;

  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    .card {
      flex: 0 0 auto;
      margin-right: 3px;
    }
  }

  .scrolling-wrapper,
  .scrolling-wrapper-flexbox {
    height: 50%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }
}
